@import "~@taiga-ui/core/styles/taiga-ui-local";

:host {
	.bottom-bar {
		display: flex;
		flex-direction: column;
		border-top: 1px solid var(--oama-base-03);
		background-color: var(--oama-base-02);

		.preview-container {
			display: flex;
			flex-direction: row;
			padding: 10px 10px 0px 10px;

			app-preview {
				flex-grow: 1;
			}
		}

		.spoiler-topic-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 50px;
			margin-right: 77px;

			tui-expand {
				width: 100%;

				.spoiler-topic {
					flex-grow: 1;
					margin-bottom: 5px;
					max-width: 260px;

					&::ng-deep {
						.pseudo-content {
							word-break: break-word;
						}
					}
				}
			}
		}

		.new-message-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0px 10px 10px 10px;

			.message-options {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 40px;
				tui-marker-icon[data-mode="white"] {
					background-color: transparent;
				}
				tui-marker-icon {
					cursor: pointer;
				}

				.spoiler-topic-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 1;
					background-color: var(--tui-positive);
					opacity: 0.85;
					margin-bottom: -18px;
					margin-left: 7px;
					border-radius: 15px;
					padding: 2px;
					font-size: 10px;
					height: 14px;
					width: 14px;
					cursor: pointer;

					span {
						font-size: 14px;
					}

					&:hover {
						opacity: 1;
					}

					&.has-topic {
						background-color: var(--tui-negative-hover);
					}
				}
			}

			.new-message {
				flex-grow: 1;
				margin-right: 10px;
				min-height: 56px !important;

				&::ng-deep {
					.pseudo-content {
						word-break: break-word;
					}
				}
			}

			.btn-send {
				width: 56px;
			}
		}

		.space-before-preview {
			width: 50px;
		}

		.space-after-preview {
			width: 56px;
		}
	}
}
