<ng-container>
	<ng-container>
		<tui-island class="verify-email-panel">
			<div class="title tui-island__title">
				<span>Email Verification</span>
			</div>
			<form [formGroup]="verifyForm" (ngSubmit)="submitForm()">
				<tui-input id="email-token-input" class="tui-space_bottom-3" formControlName="emailToken">
					Email Verification Token
				</tui-input>

				<button #submitButton class="verify-email-button" tuiButton appearance="secondary">
					Verify
				</button>
			</form>
		</tui-island>
	</ng-container>
</ng-container>