<section class="container" *ngIf="users$ | async as users">
	<form [formGroup]="form">
		<tui-input formControlName="search" icon="tuiIconSearch" [tuiTextfieldLabelOutside]="true" tuiTextfieldSize="m">
			Search users
		</tui-input>
	</form>

	<section class="users-list">
		<tui-scrollbar>
			<table class="tui-table tui-table_font-size_m">
				<tbody>
					<tr class="tui-table__tr">
						<th class="table-header avatar tui-table__th" colspan="3">
							<tui-svg src="tuiIconUsers"></tui-svg> {{users.length}} active users
						</th>
					</tr>
					<tr class="tui-table__tr" *ngFor="let user of users">
						<td class="avatar tui-table__td">
							<tui-avatar size="s" rounded="true" [text]="user"></tui-avatar>
						</td>
						<td class="tui-table__td username">
							<span>{{user}}</span>
							<span class="user-me" *ngIf="user === context.data.currentUser">(me)</span>
						</td>
						<td class="actions tui-table__td">
							<!-- 							<button class="kick-button" *ngIf="user !== context.data.currentUser" tuiButton size="xs"
								appearance="secondary" (click)="kickUser(user)">KICK</button> -->
							<tui-hosted-dropdown *ngIf="user !== context.data.currentUser" [content]="dropdown" tuiDropdownDirection="top" tuiDropdownAlign="right"
								[(open)]="openKickDropdown">
								<div tuiGroup>
									<button class="kick-button" tuiButton size="xs" appearance="secondary"
										(click)="kickUser(user)">KICK</button>

									<button tuiIconButton tuiHostedDropdownHost
										class="kick-button tui-group__auto-width-item" title="Menu" size="xs"
										[iconRight]="icon"></button>
									<ng-template #icon>
										<tui-svg src="tuiIconChevronDown" class="icon-kick-btn"
											[class.icon_rotated]="open">
										</tui-svg>
									</ng-template>
								</div>
							</tui-hosted-dropdown>


							<ng-template #dropdown let-activeZone>
								<div class="btn-list">
									<button class="kick-button squared-btn" tuiButton size="xs" appearance="secondary" (click)="onClick()">
										<tui-svg class="icon-ban" src="tuiIconCancelCircleLarge"></tui-svg>
										<span class="tui-text_body-xs">Permaban</span>
									</button>
								</div>
							</ng-template>
						</td>
					</tr>
				</tbody>
			</table>
		</tui-scrollbar>
	</section>
</section>